body {
    background-color: rgb(207, 163, 113);
    font-family: Arial, sans-serif;
}
#container {
    position: relative;
    text-align: center;
}
.btn {
    position: relative;
    padding: 20px 40px;
    border-radius: 8px;
}
.btn:hover {
    background: rgb(238, 205, 133);
}
h1 {
    text-align: center;
    background-color: #f6f4f3; 
    font-family: cursive;
}
.submitBtn {
    padding: 10px 40px;
    border-radius: 8px;
}
.submission-type {
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitBtn:hover {
    background: rgb(238, 205, 133);
}
#submissionList li {
    background-color: #f8f9fa;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    max-width: 500px;
    margin: 10px auto;
}